@media screen and (max-width: 1024px) {
    .nav-menu {

        a {
            font-size: .8rem;
        }
    }

    .section-hero {

        .hero-title {
            font-size: 2.5rem;
        }

        .hero-subtitle {
            font-size: 1.5rem;
        }

        .products-link {
            font-size: .75rem;
        }
    }

    .section-about-us {

        .about-us-title {
            font-size: 2.5rem;
        }

        .about-us-p {
            font-size: 1rem;
        }
    }

    .section-products {
        .section-products-title {
            width: 50%;
        }

        hr {
            width: 50%;
        }
    }

    .section-contact {

        .form-text-container {
            .contact-title {
                font-size: 2.5rem;
            }
    } 
    }

    .conditions {
        
        a {
            font-size: .8rem;
        }
    }
}

@media screen and (max-width: 768px) {
    
    /* Estilos del Header */

    .btn-toggle-menu {
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        background-color: #54A8FC;
        border-radius: 100%;
    }

    .nav-menu {
        display: none;
    }


    .show-nav-menu {
        padding: 1rem 0;
        top: 5rem;
        left: 0;
        position: absolute;
        width: 100%;
        height: 12rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        background-color: white;
        align-items: center;
        justify-items: center;
        padding: 1rem;
        gap: 1rem;
        box-shadow: 0px 15px 10px -15px #111;
        animation: nav-menu-animation 0.5s ease-in-out forwards;
    
        & .nav-link {
            color: #0466c8;
            width: max-content;
            border-bottom: 1px solid #0466c8;
        }
    
    }

    .show-cart {
        width: 100%;
    }


    /* Estilos del Main */


    /* Estilos del Hero Section */

    .section-hero {
        min-height: 60rem;
        width: 100%;


        & .title-container {
            padding: 1rem 0;
            height: 50%;
            width: 80%;

            & .hero-title {
                font-size: 2.25rem;
                text-transform: uppercase;
            }

            & .hero-subtitle {
                font-size: 1.25rem;
            }

            & .products-link {
                font-size: 1rem;
                width: max-content;
            }
        }


        & .hero-main-img {
            width: 100%;
            height: 50%;
        }


}

    /* ABOUT US SECTION */

    .section-about-us {
        min-height: 60rem;
        background-color: #54A8FC;
        flex-direction: column-reverse;
        width: 100%;

        & .about-us-text {
            height: 50%;
            width: 100%;

            & .about-us-title {
                color: #fbfbfb;
                font-size: 3rem;
            }

            & .about-us-p {
                /* color: #cccccc; */
                width: 80%;
                font-size: 1.25rem;
            }
        }

        & .about-us-img {
            height: 50%; 
            width: 100%;  
            background-color: transparent;

        }


    }   


    /* PRODUCTS SECTION */


    .section-products {

        & .section-products-title-container {
        
            & .section-products-title {
                font-size: 3rem;
                width: 100%;
                text-align: center;
            }
        
            & hr {
                display: none;
            }
        }

        & .products-container {
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        }
    }


    /* CONTACT SECTION */


    .section-contact {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        margin-bottom: 1rem;
        padding: 1rem;
        
        & .form-text-container {
            border-top-right-radius: 1rem;
            border-bottom-left-radius: 0;

            
            & .contact-title {
                font-size: 2rem;
            }

            & .contact-p {
                font-size: 1rem;
            }

        }

        & .form-container {
            border-top-right-radius: 0;
            border-bottom-right-radius: 1rem;
            border-bottom-left-radius: 1rem;
            min-height: max-content;


            & #name, #mail {
                font-size: 1rem;
            }
    
            & #message {
                min-height: 1.5rem;
                font-size: 0.75rem;
            }
    
            & div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
    
            & label {
                font-size: 1rem;
            }
    
            & #menu-select {
                width: 30%;
                height: 2rem;
                font-size: 0.75rem;
    
            }
            
            & .send-btn {
                width: 30%;
                height: 2rem;
                font-size: 1rem;
    
                &:hover {
                    transform: translate(-0.05em, -0.05em);
                    box-shadow: 0.15em 0.15em;
                    background-color: #0062cc;
                }
            }

        }
    }
    
        /* FOOTER */

    footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);

    }
}

@media screen and (max-width: 480px) {
    .section-hero {
        
        & .title-container {
            width: 100%;
            
        }
    }


    .about-us-text {
        
        & .about-us-p {
            font-size: 1rem;
        }
    }

    /* .filter-container {
        width: 80%;

        & .filter-btn {
            width: 80%;
            height: 80%;
            padding: 0;
        }
    } */

    .section-products {
        
        & .section-products-title-container {
            width: max-content;


            & .section-products-title {
                font-size: 2rem;
                text-align: center;
            }

            & hr {
                display: none;
            }
        }
    }

    .form-container {
        
        & .menu-select {
            font-size: 0.5rem;
        }
    }
}

@media screen and (max-width: 360px) {
    .section-products {
        & .products-container {
            padding: 0;
        }
    }
}